#FRONTEND
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/.vite/

#BACKEND

backend/target/
backend/build/
backend/out/

#IDEA

.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
*.log